<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-1">
	<a class="navbar-brand py-0" href="/index.html">
		<img src="/img/logo.png" width="50" height="50" class="d-inline-block align-top" alt="" />
		NAMC
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="#mainNav">
		<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
			<li class="nav-item">
				<a class="nav-link" href="#">Home</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"> Events </a>
				<div class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item" href="#">Calendar</a>
					<a class="dropdown-item" href="#">Results</a>
					<a class="dropdown-item" href="#">Rules</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Malamute Rescue</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Adoption</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Articles</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Join Club</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Contact</a>
			</li>
		</ul>
	</div>
</nav>
